# build output
dist/

# generated types
.astro/

# wrangler local testing
.wrangler/

# dependencies
node_modules/
playwright-report/
test-results/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
