---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

const notes = await getCollection("notes");
---

<Layout title="Notes | GavDaly" description="Listing of Notes by Gavin Daly">
  <h1>Notes</h1>
  <ul>
    {
      notes.map((note) => (
        <li>
          <a href={`/notes/${note.slug}`}>{note.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
