---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  label: string;
  isUnderline?: boolean;
  image?: string;
};

const { label, image, isUnderline, ...props } = Astro.props;
---

<a
  href={props.href}
  class:list={{
    ["hover:text-neutral-100 cursor-pointer"]: true,
    ["underline decoration-dashed underline-offset-8"]: isUnderline,
  }}
  {...props}
  rel="noreferrer"
  target="_blank"
>
  {
    image ? (
      <img src={image} alt={label} class="h-4 w-4" />
    ) : (
      <span class="text-lg">{label}</span>
    )
  }
</a>
