---
import Layout from "@/layouts/Layout.astro";
---

<head>
  <script
    src="https://challenges.cloudflare.com/turnstile/v0/api.js"
    async
    defer></script>
</head>

<Layout
  title="GavDaly | Contact"
  description="A contact form for getting intoch with Gavin"
>
  <form class="my-6 max-w-lg mx-auto" name="contact" method="POST">
    <input type="hidden" name="form-name" value="contact" />
    <div class="cf-turnstile" data-sitekey="0x4AAAAAAAwkdALrJuLEDATp"></div>
    <div class="w-full">
      <label
        class="block uppercase tracking-wide text-xs font-bold mb-2"
        for="name">Name</label
      >
      <input
        class="appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
        type="text"
        name="name"
        id="name"
      />
    </div>
    <div class="w-full">
      <label
        class="block uppercase tracking-wide text-xs font-bold mb-2"
        for="email">Email</label
      >
      <input
        class="appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
        type="email"
        name="email"
        id="email"
      />
    </div>
    <div class="w-full">
      <label
        class="block uppercase tracking-wide text-xs font-bold mb-2"
        for="message">Message</label
      >
      <textarea
        class="appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white resize-none"
        name="message"
        id="message"></textarea>
    </div>
    <button
      class="w-full mt-3 g-transparent font-semibold hover:text-sky-300 py-2 px-4 border border-sky-600 hover:border-sky-300 rounded transition duration-200"
      type="submit">Send</button
    >
  </form>
</Layout>
