---
import { Picture } from "astro:assets";

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import ProjectListing from "@/components/ProjectListing.astro";
import PostsListing from "@/components/PostsListing.astro";

import { presentation } from "@/data/presentation";
import profile from "./profile.jpg";
---

<Layout>
  <article
    class="flex flex-col gap-8 md:flex-row-reverse md:justify-between md:gap-12 pb-6"
  >
    <div class="w-1/4 md:justify-end">
      <Picture
        src={profile}
        class="rounded-full md:justify-end"
        alt="Profile Image"
        widths={[100, 200, 400, profile.width]}
        formats={["webp", "avif"]}
        loading="lazy"
        width="200"
        height="200"
      />
    </div>

    <div class="flex flex-col gap-8">
      <h1 class="text-3xl text-neutral-100">
        {presentation.title}
      </h1>

      <h2
        class="w-auto max-w-[60ch] leading-6"
        set:html={presentation.description}
      />

      <SocialLinks />
    </div>
  </article>

  <PostsListing />

  <ProjectListing />
</Layout>
