---
import ThemeToggle from "@/components/ThemeToggle.astro";
import VectorSearch from "@/components/VectorSearch.astro";

let pathname = new URL(Astro.request.url).pathname;
---

<header
  class="z-40 mb-6 md:mb-10 flex w-full flex-col gap-2 md:flex-row md:justify-between"
>
  <span></span>

  <nav aria-label="Primary" role="navigation">
    <ul role="list" class="flex flex-row items-center gap-2">
      {
        [
          { label: "home", href: "/" },
          { label: "posts", href: "/posts" },
          { label: "projects", href: "/projects" },
          { label: "contact", href: "/contact" },
          { label: "uses", href: "/uses" },
        ].map((link, index, array) => (
          <>
            <li>
              <a
                href={link.href}
                class="rounded focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500"
                class:list={{
                  ["hover:text-sky-900 dark:hover:text-sky-100 hover:underline"]: true,
                  ["text-sky-900 dark:text-sky-100 hover:no-underline"]:
                    pathname === link.href,
                }}
                aria-current={pathname === link.href ? "page" : undefined}
              >
                {link.label}
              </a>
            </li>
            {index < array.length - 1 && (
              <li aria-hidden="true" class="select-none text-sky-500 dark:text-sky-400">
                |
              </li>
            )}
          </>
        ))
      }
      <li aria-hidden="true" class="select-none text-sky-500 dark:text-sky-400">
        |
      </li>
      <li>
        <VectorSearch />
      </li>
      <li aria-hidden="true" class="select-none text-sky-500 dark:text-sky-400">
        |
      </li>
      <li>
        <ThemeToggle />
      </li>
    </ul>
  </nav>
</header>
