---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header
  class="z-40 mb-3 md:mb-6 flex w-full flex-col gap-2 md:flex-row md:justify-between"
>
  <span></span>

  <nav role="navigation">
    <ul role="list" class="flex flex-row gap-2">
      <li>
        <a
          href="/"
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["text-neutral-100"]: pathname === "/",
          }}>home</a
        >
      </li>
      <span>|</span>
      <li>
        <a
          href="/posts"
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["text-neutral-100"]: pathname === "/posts",
          }}>posts</a
        >
      </li>
      <span>|</span>
      <li>
        <a
          href="/projects"
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["text-neutral-100"]: pathname === "/projects",
          }}>projects</a
        >
      </li>
      <span>|</span>
      <li>
        <a
          href="/contact"
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["text-neutral-100"]: pathname === "/contact",
          }}>contact</a
        >
      </li>
    </ul>
  </nav>
</header>
