---
let pathname = new URL(Astro.request.url).pathname;
---

<header
  class="z-40 mb-6 md:mb-10 flex w-full flex-col gap-2 md:flex-row md:justify-between"
>
  <span></span>

  <nav aria-label="Primary" role="navigation">
    <ul role="list" class="flex flex-row items-center gap-2">
      <li>
        <a
          href="/"
          class="rounded focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500"
          class:list={{
            ["hover:text-sky-900 dark:hover:text-sky-100 hover:underline"]: true,
            ["text-sky-900 dark:text-sky-100 hover:no-underline"]:
              pathname === "/",
          }}
          aria-current={pathname === "/" ? "page" : undefined}
        >
          home
        </a>
      </li>
      <li aria-hidden="true" class="select-none text-sky-500 dark:text-sky-400">
        |
      </li>
      <li>
        <a
          href="/posts"
          class="rounded focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500"
          class:list={{
            ["hover:text-sky-900 dark:hover:text-sky-100 hover:underline"]: true,
            ["text-sky-900 dark:text-sky-100 hover:no-underline"]:
              pathname === "/posts",
          }}
          aria-current={pathname === "/posts" ? "page" : undefined}
        >
          posts
        </a>
      </li>
      <li aria-hidden="true" class="select-none text-sky-500 dark:text-sky-400">
        |
      </li>
      <li>
        <a
          href="/projects"
          class="rounded focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500"
          class:list={{
            ["hover:text-sky-900 dark:hover:text-sky-100 hover:underline"]: true,
            ["text-sky-900 dark:text-sky-100 hover:no-underline"]:
              pathname === "/projects",
          }}
          aria-current={pathname === "/projects" ? "page" : undefined}
        >
          projects
        </a>
      </li>
      <li aria-hidden="true" class="select-none text-sky-500 dark:text-sky-400">
        |
      </li>
      <li>
        <a
          href="/contact"
          class="rounded focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500"
          class:list={{
            ["hover:text-sky-900 dark:hover:text-sky-100 hover:underline"]: true,
            ["text-sky-900 dark:text-sky-100 hover:no-underline"]:
              pathname === "/contact",
          }}
          aria-current={pathname === "/contact" ? "page" : undefined}
        >
          contact
        </a>
      </li>
      <li aria-hidden="true" class="select-none text-sky-500 dark:text-sky-400">
        |
      </li>
      <li>
        <a
          href="/uses"
          class="rounded focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500"
          class:list={{
            ["hover:text-sky-900 dark:hover:text-sky-100 hover:underline"]: true,
            ["text-sky-900 dark:text-sky-100 hover:no-underline"]:
              pathname === "/uses",
          }}
          aria-current={pathname === "/uses" ? "page" : undefined}
        >
          uses
        </a>
      </li>
    </ul>
  </nav>
</header>
