---
import { getCollection } from "astro:content";

import PostCard from "@/components/PostCard.astro";
import Link from "@/components/shared/Link.astro";

const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<article class="flex flex-col gap-4 mb-6">
  <header class="flex w-full flex-row justify-between gap-2">
    <h3 class="text-lg text-neutral-100">Latest posts</h3>
    <Link href="/posts" label="See all posts" isUnderline target="_self" />
  </header>
  {posts.length === 0 && <p>Soon, stay connected 👀...</p>}

  <section
    class="grid grid-cols-1 gap-4 md:grid-cols-2 md:flex-wrap justify-between"
  >
    {
      posts.length !== 0 &&
        posts
          .slice(0, 4)
          .map((post) => (
            <PostCard
              publishedAt={post.data.publishedAt}
              title={post.data.title}
              description={post.data.description}
              slug={post.slug}
            />
          ))
    }
  </section>
</article>
