---
import type { Project } from "@/data/projects";

type Props = Project;

const { title, techs, link, status, slug } = Astro.props;

const formatTechs = (values: string[]) =>
  values.toString().replaceAll(",", " • ");
---

<a
  class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center"
  href={`/projects/${slug}`}
>
  <div class="flex flex-col gap-2 md:flex-row md:items-center md:gap-4">
    <h2 class="text-neutral-100">{title}</h2>
    <span>{formatTechs(techs)}</span>
  </div>

  <span class="flex-row">
    <span class="w-fit rounded-md bg-neutral-900 px-4 py-1">{status}</span>
    <svg
      width="18"
      height="18"
      viewBox="0 0 18 18"
      fill="none"
      class="inline transition-all duration-300 group-hover:translate-x-1"
    >
      <path
        d="M5.25 12.75L12.75 5.25"
        stroke="#999999"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M5.25 5.25H12.75V12.75"
        stroke="#999999"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </span>
</a>
