---
import { getCollection } from "astro:content";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
interface Props {
  showLink?: boolean;
}

const { showLink = true } = Astro.props;
const projects = await getCollection("projects");
---

<article class="mb-10 rounded-xl py-6">
  <header class="mb-6 flex items-center justify-between gap-4">
    <h3 class="text-lg font-bold">Selected Projects</h3>
    {
      showLink && (
        <Link
          href="/projects"
          label="See all"
          isUnderline
          target="_self"
        />
      )
    }
  </header>

  <section class="flex flex-col gap-6">
    {
      projects.map(({ data: project, slug }, index) => (
        <ProjectCard slug={slug} {...project} animationDelay={index * 120} />
      ))
    }
  </section>
</article>
