---
import { presentation } from "@/data/presentation";
let { socials } = presentation;
---

<ul role="list" class="flex flex-row items-center gap-4">
  {
    socials.map(({ label, link, image }, index) => (
      <>
        <li>
          <a href={link}>
            <span class="sr-only">Link to {label}</span>
            <svg class="icon h-5 w-5">
              <use href={`#${image}`} />
            </svg>
          </a>
        </li>

        {socials.length - 1 !== index && <span class="text-lg">|</span>}
      </>
    ))
  }
</ul>
