---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
const {
  project: {
    data: { title, link, status, technology },
  },
} = Astro.props;
const { Content } = await project.render();
---

<Layout>
  <div class="flex flex-col mt-3 mb-2">
    <h2 class="font-extrabold text-3xl">{title}</h2>
    <a
      class="inline-block"
      target="_blank"
      rel="noopener noreferrer"
      href={link}
    >
      <img class="h-5 inline-block" src="/svgs/github.svg" alt="GitHub" />
    </a>
  </div>

  <span class="w-fit rounded-md bg-neutral-900 px-4 py-1 my-4">{status}</span>
  <ul class="flex flex-row gap-3 my-4">
    {
      technology.map((tech: string) => (
        <li class="py-1 px-2 bg-gray-800 text-xs rounded-full">{tech}</li>
      ))
    }
  </ul>
  <Content />
</Layout>
