---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((projects) => ({
    params: { slug: projects.slug },
    props: { projects },
  }));
}

type Props = {
  projects: CollectionEntry<"projects">;
};

const {
  projects: {
    data: { title, link, status, technology },
  },
} = Astro.props;
// const { Content } = await projects.render();
---

<Layout>
  <h2>{title} <a href={link}>github</a></h2>

  <span class="">{status}</span>
  <ul class="flex-row">{technology.map((tech) => <li>{tech}</li>)}</ul>
  <!-- <Content /> -->
</Layout>
