---
import Header from "../components/Header.astro";
import SEOTags from "@/components/seo/SEOTags.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import { Sprite } from "@/components/sprite.tsx";
import type { HeadTags } from "@/utils/types/HeadTags";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!doctype html>
<html lang="en">
  <SEOTags {...headTags} />

  <body
    class="mx-auto max-w-4xl bg-blue-200 dark:bg-blue-950 px-10 py-8 text-sm text-sky-950 dark:text-sky-200 md:gap-20 md:py-16"
  >
    <Header />
    <slot />
    <footer>
      <SocialLinks />
    </footer>
  </body><Sprite client:idle />
</html>
