---
import Header from "../components/Header.astro";
import SEOTags from "@/components/seo/SEOTags.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import type { HeadTags } from "@/utils/types/HeadTags";

import "@fontsource/open-sans";
import "@/styles/tailwind.css";
import "@/styles/post.css";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!doctype html>
<html lang="en">
  <SEOTags {...headTags} />

  <body
    class="mx-auto max-w-[872px] bg-neutral-950 px-10 py-8 text-sm text-neutral-400 md:gap-20 md:py-16"
  >
    <Header />
    <slot />
  </body><footer>
    <SocialLinks />
  </footer>
</html>
